@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Aggregated stylesheet importing modular CSS files in a stable order */
@import url('./base.css');
@import url('./layout.css');
@import url('./components.css');
@import url('./filters.css');
@import url('./color-picker.css');
@import url('./tables.css');
@import url('./charts.css');
@import url('./types.css');
@import url('./modals.css');
@import url('./forms.css');
@import url('./responsive.css');
